.Main-Page {
    margin: 0;
}
.Header {
    text-align: center;
    font-family: sans-serif;
    width: 90%;
    margin-left: 20%;
    color: white;
    height: 100vh;
    background-image: url(../../assets/landscape-sky-clouds-hd-wallpaper-55787.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}