.Main-Page {
    margin: 0;
}
.Header {
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;
    background-image: url(../../assets/landscape-sky-clouds-hd-wallpaper-55787.jpg);
}