<div class="topnav" *ngIf="loggedUser !== null">
    <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
    <a [routerLink]="['/stocks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Stocks</a>
    <a [routerLink]="['/crypto']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Crypto Search</a>
    <a [routerLink]="['/searchStocks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Search Stocks</a>
</div>