<div class="stockbx">
    <div class="innerbox">
        <h3 class="stockName" #stockName>Stock Name: {{ Stock.stock_name | uppercase}}</h3>
        <div class="infoWrap">
            <p class="stocksymbol stocktxt">The Networks Notes: {{ Stock.notes }}</p>
        </div>
        <div class="btnBar">
            <button class="optbutton searchbuttonA" value="Add" [routerLink]="['/stocks', Stock.stock_name]"><span>View</span></button>
            <button *ngIf="admin === true" class="optbutton searchbuttonA" value="Delete" (click)="handleUnfollow(stockName.value)"><span>Remove</span></button>
        </div>
    </div>
</div>