<form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm.value)" autocomplete="off">
    <input #textform [(ngModel)]="searchInput" name="searchInput" type="text" placeholder="Stock Symbol" class="searchInput">
    <button type="submit" class="searchbuttonA" >Search</button>
   
</form>
<h1 *ngIf="graphed === true" class="graphTitle">7-Days</h1>
<div *ngIf="chart" style="width: 600px; height: 310px;">
    <canvas id="canvas">{{ chart }}</canvas>
</div>
<h1 *ngIf="graphed === true" class="graphTitle">30-Days</h1>
<div *ngIf="chart" style="width: 600px; height: 310px;">
    <canvas id="canvas2">{{ chart }}</canvas>
</div>
<h1 *ngIf="graphed === true" class="graphTitle">100-Days</h1>
<div *ngIf="chart" style="width: 600px; height: 310px;">
    <canvas id="canvas3">{{ chart }}</canvas>
</div>

