<form #searchForm="ngForm" (ngSubmit)="handleSearch(searchForm.value)" autocomplete="off">
    <input #textform [(ngModel)]="searchInput" name="searchInput" type="text" placeholder="Stock Symbol" class="searchInput">
    <button type="submit" class="searchbuttonA" >Search</button>
   
</form>
<div *ngIf="chart" style="width: 600px; height: 600px;">
    <canvas id="canvas">{{ chart }}</canvas>
</div>
<div *ngIf="chart" style="width: 600px; height: 600px;">
    <canvas id="canvas2">{{ chart }}</canvas>
</div>
<div *ngIf="chart" style="width: 600px; height: 600px;">
    <canvas id="canvas3">{{ chart }}</canvas>
</div>

