<div>
    <h1>{{ stock?.name }}</h1>
    <div class="infoBox" *ngIf="returnedStock">
        <div class="infoWrap stockInfoBox">
            <h2 class="stocktxt">New York Stock Exchange Symbol: {{returnedStock?.symbol}}</h2>
            <h2 class="stocktxt">Current Value: {{returnedStock?.currentValue | currency:'USD' : 'symbol' : '1.3-5'}}</h2>
            <h2 class="stocktxt">Percentage Change in Value: {{returnedStock?.dailyPercentage | percent:'1.3-5'}}</h2>
            <h2 class="stocktxt">Avalable Shares: {{returnedStock?.volume}}</h2>
        </div>
    </div>
    <div class="graphBox">
        <h3 style="text-align: center;">{{ Title }}</h3>
        <div *ngIf="chart" style="width: 500px; height: 310px; margin-left: 33%;">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
        <div class="buttonBar" style="margin-left: 40%;">
            <button style="margin-top: 0;" *ngIf="graphed === true" type="button" class="searchbuttonA" value="7-days" (click)='graphSwitch(7)'>7-Days</button>
            <button style="margin-top: 0;" *ngIf="graphed === true" type="button" class="searchbuttonA" value="30-days" (click)='graphSwitch(30)'>30-Days</button>
            <button style="margin-top: 0;" *ngIf="graphed === true" type="button" class="searchbuttonA" value="100-days" (click)='graphSwitch(100)'>100-Days</button>
        </div>
    </div>
</div>